#content img {
	margin-top: 1vw;
	display: inline-block;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	border: 5px solid darkorange;
}

.rightalign{
	text-align: right;
}

.leftalign{
	text-align:left;
}

.text {
	display: inline-block;
	width: 70%;
	padding: 1vw;
}

hr {
	border: 2px solid darksalmon;
}

.video{
	text-align: center;
	height: auto;
}

.video p {
	font-size: 0.9vw;
	margin: 2.5px;
}

.vid{
	width: 80%;
	margin: auto;
	display: block;
}


