#content img {
	margin-top: 1vw;
	display: inline-block;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	border: 5px solid darkorange;
}

.rightalign{
	text-align: right;
}

.leftalign{
	text-align:left;
}

.text {
	display: inline-block;
	width: 70%;
	padding: 1vw;
}

hr {
	border: 2px solid darksalmon;
}

.video{
	border-left: 125px solid transparent;
	width: 700px;
	height: 400px;
	text-align: center;
}

.vid{
	object-fit: cover;
}
