#categoriesContainer {
	width: 100%;
	height: auto;
	text-align: center;
}

.category {
	padding: 1vw;
	margin: auto;
	display: inline-block;
	text-align: center;
}

.category img {
	width: 30vw;
	height: 16vw;
}
