#intro{
	text-align: left;
	font-size: 120%;
	padding: 0px;
}

.slideshow{
	padding: 2vw;
	text-align: center;
	display: block;
}

.slideshow img {
	width: 40vw;
	height: 24vw;
}

#smallGroup {
	margin: 2vw;
	height: 60vw;
	text-align: center;
}

.smallPic{
	width: 40%;
	height: 50%;
	display: inline-block;
	margin: auto;
	text-align: center;
}

.smallPic img {
	width: 23vw;
	height: 15vw;
}

.text {
	padding: 0px 10px;
	text-align: center;
	margin: auto;
}

#footer {
	padding: 1vw;
	clear: both;
	text-align: center;
}

.slideshow a {
	display: block;
}


a.readmore:link, a.readmore:visited {
	background-color: transparent;
	color: black;
	border: 2px solid #ff8c00;
	padding: 1vw 1.5vw;
	text-align:center;
	text-decoration:none;
	display:inline-block;

}

a.readmore:hover, a.readmore:active {
	background-color: #ff8c00;
	color: white;
}


