#intro{
	text-align: left;
	font-size: 120%;
	padding: 0px;
}

.bigPic{
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 20px solid transparent;
	text-align: center;
}

.smallPic{
	width: 350px;
	height: 350px;
	border-right: 50px solid transparent;
	border-left: 50px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	float: right;
	margin: auto;
	text-align: center;
}

.slideshow{
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        text-align: center;
}


div[class = "text"] {
	padding: 10px;
	text-align: center;
	margin: auto;
}

#footer {
	padding: 20px;
	clear: both;
	text-align: center;
}

a.readmore:link, a.readmore:visited {
	background-color: white;
	color: black;
	border: 2px solid #ff8c00;
	padding: 10px 20px;
	text-align:center;
	text-decoration:none;
	display:inline-block;

}

a.readmore:hover, a.readmore:active {
	background-color: #ff8c00;
	color: white;
}


