.category {
	float: left;
	border: 30px solid transparent;
	margin: 1px;
	padding: 1px;
	text-align: center;
}

div[class = "activity"]{
	display: inline-block;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

div[class = "text"] {
	border: 20px solid transparent;
	padding: 10px;
	float: right;
	text-align: left;
	margin: auto;
}

#footer {
	clear: both;
	text-align: center;
}
