#rightnav {
	float: right;
	width: 15%;
	margin: 0;
	color: inherit;
}

#rightnav form {
	margin: 2vw 1vw 0 0;
}

#email_textarea {
	width: 90%;
}

#rightnav textarea {
	width: 100%;
	color: gray;
}

#email {
	background-color: transparent;
	color: inherit;
	border: 2px solid #ff8c00;
	padding: 0.3vw 0.5vw;
	text-align: center;
	font-size: 0.9vw;
	float: right;
	margin-top: 0.5vw;
	margin-right: 1.2vw;
}

#content h1 {
	margin-bottom: 0;
}

#content p {
	margin-right: 5vw;
}

form {
	width: 80%;
	margin: auto;
	font-size: 1.3vw;
}

.form_item {
	display: block;
	padding: 1.5vw 0 0 0;
}

.form_item .checkbox {
	display: block;
}

textarea {
	width: 57.4vw;
	height: 10vw;
	margin-bottom: 1vw;
	color: gray;
}

#surveyForm, #resetBtn {
	width: 48%;
	font-size: 1.5vw;

	background-color: transparent;
	color: inherit;
	border: 2px solid #ff8c00;
	padding: 1vw 1.5vw;
	text-align: center;
}

#surveyForm:hover, #resetBtn:hover, #email:hover {
	background-color: #ff8c00;
	color: white;
}