#rightnav {
	float: right;
	width: 15%;
	margin: 0;
}

#rightnav form {
	margin: 2vw 1vw 0 0;
}

#email_textarea {
	width: 80%;
}

#rightnav textarea {
	width: 100%;
}

#content h1 {
	margin-bottom: 0;
}

#content p {
	margin: 0;
    padding: 1.5vw 0 0 0;
}

.form_item {
	display: block;
	padding: 1vw 0 0 0;
}

.form_item .checkbox {
	display: block;
}
p label {
	display: block;
}

textarea {
	width: 40vw;
	height: 10vw;
}
